---
import Button from "@components/Button.astro";
---

<h2>Buttons</h2>
<p class="grid">
  <Button text="Primary" cls="" />
  <Button text="Secondary" cls="secondary" />
  <Button text="Contrast" cls="contrast" />
</p>
<p class="grid">
  <Button text="Primary outline" cls="outline" />
  <Button text="Secondary" cls="outline secondary" />
  <Button text="Contrast" cls="outline contrast" />
</p>
