---

---

<form>
  <fieldset role="group">
    <input
      name="email"
      type="email"
      placeholder="Enter your email"
      autocomplete="email"
    />
    <input type="submit" value="Subscribe" />
  </fieldset>
</form>
