---

---

<div class="grid">
  <label for="valid">
    Valid
    <input
      type="text"
      id="valid"
      name="valid"
      placeholder="Valid"
      aria-invalid="false"
    />
  </label>
  <label for="invalid">
    Invalid
    <input
      type="text"
      id="invalid"
      name="invalid"
      placeholder="Invalid"
      aria-invalid="true"
    />
  </label>
  <label for="disabled">
    Disabled
    <input
      type="text"
      id="disabled"
      name="disabled"
      placeholder="Disabled"
      disabled
    />
  </label>
</div>
