---
import BaseLayout from "@layouts/BaseLayout.astro";
import NavWrapper from "@components/NavigationWrapper.astro";

const pageTitle: string = "AstroPico";
---

<BaseLayout pageTitle={pageTitle}>
  <header>
    <NavWrapper />
  </header>
  <hr />
  <main>
    <section>
      <div class="container">
        <hgroup>
          <h1>{pageTitle}</h1>
          <p>Astro styled with PicoCSS</p>
        </hgroup>
      </div>
    </section>
  </main>
  <footer></footer>
</BaseLayout>
