---
import BaseLayout from "@layouts/BaseLayout.astro";
import NavWrapper from "@components/NavigationWrapper.astro";
import BlogPost from "@components/BlogPost.astro";

const allPosts = await Astro.glob("../pages/posts/*.md");
const pageTitle: string = "Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <header>
    <NavWrapper />
  </header>
  <hr />
  <main class="container">
    <section>
      <hgroup>
        <h1>{pageTitle}</h1>
        <p>... thoughts about this theme.</p>
      </hgroup>
    </section>
    <section>
      <ul>
        {
          allPosts.map((post) => (
            <BlogPost url={post.url} title={post.frontmatter.title} />
          ))
        }
      </ul>
    </section>
  </main>
</BaseLayout>
