---
import BaseLayout from "@layouts/BaseLayout.astro";
import NavWrapper from "@components/NavigationWrapper.astro";

const pageTitle: string = "AstroPico";
---

<BaseLayout pageTitle={pageTitle}>
  <header>
    <NavWrapper />
  </header>
  <hr />
  <main class="container">
    <section>
      <hgroup>
        <h1>{pageTitle}</h1>
        <p>Astro styled with PicoCSS</p>
      </hgroup>
      <p>
        <strong><u><a href="/about/">AstroPico</a></u></strong> is ...
      </p>
    </section>
    <hr />
    <section></section>
  </main>
  <footer></footer>
</BaseLayout>
