---
import BaseLayout from "@layouts/BaseLayout.astro";
import NavWrapper from "@components/NavigationWrapper.astro";
import Heading from "@components/Heading.astro";
import LatestPosts from "@components/LatestPosts.astro";
import Featured from "@components/Featured.astro";
import RecentProjects from "@components/RecentProjects.astro";
import WorkExperiences from "@components/WorkExperiences.astro";
import DetailsQuote from "@components/DetailsQuote";

const pageTitle: string = "AstroPico";
---

<BaseLayout pageTitle={pageTitle}>
  <header>
    <NavWrapper />
  </header>
  <hr />
  <main class="container">
    <section>
      <hgroup>
        <h1>{pageTitle}</h1>
        <p>... Astro styled with Pico CSS</p>
      </hgroup>
      <p>
        <u><a href="/about/" class="">AstroPico</a></u> is an Astro theme who likes
        simple implementation and good looking visual.
      </p>
      <DetailsQuote client:only="react" />
    </section>
    <hr />
    <section>
      <hgroup>
        <Heading
          title="Featured"
          heading="3"
          description="... some of finest"
        />
      </hgroup>
      <Featured />
    </section>
    <hr />
    <section>
      <hgroup>
        <Heading
          title="Latest posts"
          heading="3"
          description="... some of latest"
        />
      </hgroup>
      <LatestPosts />
      <p>
        <small>
          For more posts,
          <a href="/blog/">to here.</a>
        </small>
      </p>
    </section>
    <hr />
    <section>
      <hgroup>
        <Heading title="Recent projects" heading="3" description="" />
      </hgroup>
      <RecentProjects />
      <p>
        <small>
          For my featured projects, please visit my
          <a href="https://www.github.com/san-ghun">Github</a>
        </small>
      </p>
    </section>
    <hr />
    <section>
      <hgroup>
        <Heading title="Work experience" heading="3" description="" />
      </hgroup>
      <WorkExperiences />
      <p>
        <small>
          If you want to know more about me,
          <!-- If you want to see my resume, -->
          <a href="/about/">to here</a>
        </small>
      </p>
    </section>
    <hr />
  </main>
</BaseLayout>
