---
import BaseLayout from "@layouts/BaseLayout.astro";
import NavWrapper from "@components/NavigationWrapper.astro";

import { Image } from "astro:assets";
import minimalLandscape from "../assets/aleksandar-jason-a562ZEFKW8I-unsplash-2000x1000.jpg";

import Hgroup from "@components/preview/Hgroup.astro";
import Dropdown from "@components/preview/Dropdown.astro";
import Sample from "@components/preview/Sample.astro";
import Blockquote from "@components/preview/Blockquote.astro";
import Lists from "@components/preview/Lists.astro";
import InlineTextElements from "@components/preview/InlineTextElements.astro";
import Headings from "@components/preview/Headings.astro";
import Buttons from "@components/preview/Buttons.astro";
import States from "@components/preview/States.astro";
import Accordions from "@components/preview/Accordions.astro";
import Group from "@components/preview/Group.astro";

import Modal from "@components/Modal.astro";
import Heading from "@components/Heading.astro";
import Search from "@components/Search.astro";
import Text from "@components/Text.astro";
import Select from "@components/Select.astro";
import FileBrowser from "@components/FileBrowser.astro";
import RangeSlider from "@components/RangeSlider.astro";
import Date from "@components/Date.astro";
import Time from "@components/Time.astro";
import Color from "@components/Color.astro";
import Checkbox from "@components/Checkbox.astro";
import RadioButton from "@components/RadioButton.astro";
import Switch from "@components/Switch.astro";
import Table from "@components/Table.astro";
import Article from "@components/Article.astro";
import Progress from "@components/Progress.astro";
import LoadingArticle from "@components/LoadingArticle.astro";
import LoadingButton from "@components/LoadingButton.astro";

const pageTitle: string = "Preview";
---

<BaseLayout pageTitle={pageTitle}>
  <header>
    <NavWrapper />
  </header>
  <hr />
  <main class="container">
    <section>
      <div>
        <hgroup>
          <h3>Preview Components</h3>
          <small>= Pico CSS + Astro</small>
        </hgroup>
        <hr />
      </div>
    </section>

    <!-- HGroup -->
    <section>
      <Hgroup
        title="Pico"
        description="A pure HTML example, without dependencies."
      />
      <Dropdown summary="Theme" elements={["auto", "light", "dark"]} />
    </section>
    <!-- ./ HGroup -->

    <!-- Preview -->
    <section id="preview">
      <Sample
        title="Pico"
        description="Sed ultricies dolor non ante vulputate hendrerit. Vivamus sit amet suscipit sapien. Nulla iaculis eros a elit pharetra egestas."
      />
    </section>
    <!-- ./ Preview -->

    <!-- Typography-->
    <section id="typography">
      <Heading
        title="Typography"
        heading="2"
        description="Aliquam lobortis vitae nibh nec rhoncus. Morbi mattis neque eget efficitur feugiat. Vivamus porta nunc a erat mattis, mattis feugiat turpis pretium. Quisque sed tristique felis."
      />

      <!-- Blockquote-->
      <Blockquote
        quote='"Maecenas vehicula metus tellus, vitae congue turpis hendrerit non. Nam at dui sit amet ipsum cursus ornare."'
        cite="- Phasellus eget lacinia"
      />

      <!-- Lists-->
      <Lists
        title="Lists"
        ctxs={[
          "Aliquam lobortis lacus eu libero ornare facilisis.",
          "Nam et magna at libero scelerisque egestas.",
          "Suspendisse id nisl ut leo finibus vehicula quis eu ex.",
          "Proin ultricies turpis et volutpat vehicula.",
        ]}
      />

      <!-- Inline text elements-->
      <InlineTextElements title="Inline text elements" />

      <!-- Headings-->
      <Headings />

      <!-- Medias-->
      <figure>
        <Image src={minimalLandscape} alt="Minimal landscape" />
        <figcaption>
          Image from
          <a href="https://unsplash.com/photos/a562ZEFKW8I" target="_blank"
            >unsplash.com</a
          >
        </figcaption>
      </figure>
    </section>
    <!-- ./ Typography-->

    <!-- Buttons-->
    <section id="buttons">
      <Buttons />
    </section>
    <!-- ./ Buttons -->

    <!-- Form elements-->
    <section id="form">
      <form>
        <h2>Form elements</h2>

        <!-- Search -->
        <Search
          purpose="search"
          label="Search"
          placeholder="Search"
          id="search"
          name="search"
        />

        <!-- Text -->
        <Text
          purpose="text"
          label="Text"
          placeholder="Text"
          id="text"
          name="text"
          small="Curabitur consequat lacus at lacus porta finibus."
        />

        <!-- Select -->
        <Select
          purpose="select"
          label="Select"
          id="select"
          name="select"
          options={["option 1", "option 2", "..."]}
        />

        <!-- File browser -->
        <FileBrowser
          purpose="file"
          label="File browser"
          id="file"
          name="file"
        />

        <!-- Range slider control -->
        <RangeSlider
          purpose="range"
          label="Range slider"
          min="0"
          max="100"
          value="50"
          id="range"
          name="range"
        />

        <!-- States -->
        <States />

        <div class="grid">
          <!-- Date-->
          <Date purpose="date" label="Date" id="date" name="date" />

          <!-- Time-->
          <Time purpose="time" label="Time" id="time" name="time" />

          <!-- Color-->
          <Color
            purpose="color"
            label="Color"
            id="color"
            name="color"
            value="#088888"
          />
        </div>

        <div class="grid">
          <!-- Checkboxes -->
          <fieldset>
            <legend><strong>Checkboxes</strong></legend>
            <Checkbox
              purpose="checkbox-1"
              label="Checkbox"
              id="checkbox-1"
              name="checkbox-1"
              checked="true"
            />
            <Checkbox
              purpose="checkbox-2"
              label="Checkbox"
              id="checkbox-2"
              name="checkbox-2"
              checked="false"
            />
          </fieldset>

          <!-- Radio buttons -->
          <fieldset>
            <legend><strong>Radio buttons</strong></legend>
            <RadioButton
              purpose="radio-1"
              label="Radio button"
              id="radio-1"
              name="radio"
              value="radio-1"
              checked="true"
            />
            <RadioButton
              purpose="radio-2"
              label="Radio button"
              id="radio-2"
              name="radio"
              value="radio-2"
              checked="false"
            />
          </fieldset>

          <!-- Switch -->
          <fieldset>
            <legend><strong>Switches</strong></legend>
            <Switch
              purpose="switch-1"
              label="Switch"
              id="switch-1"
              name="switch-1"
              checked="true"
            />
            <Switch
              purpose="switch-2"
              label="Switch"
              id="switch-2"
              name="switch-2"
              checked=""
            />
          </fieldset>
        </div>

        <!-- Buttons -->
        <input type="reset" value="Reset" />
        <input type="submit" value="Submit" />
      </form>
    </section>
    <!-- ./ Form elements-->

    <!-- Tables -->
    <section id="tables">
      <h2>Tables</h2>
      <div class="overflow-auto">
        <Table />
      </div>
    </section>
    <!-- ./ Tables -->

    <!-- Modal -->
    <section id="modal">
      <h2>Modal</h2>
      <Modal />
    </section>
    <!-- ./ Modal -->

    <!-- Accordions -->
    <section id="accordions">
      <h2>Accordions</h2>
      <Accordions />
    </section>
    <!-- ./ Accordions -->

    <!-- Article-->
    <Article
      id="article"
      title="Article"
      description="Nullam dui arcu, malesuada et sodales eu, efficitur vitae dolor. Sed ultricies dolor non ante vulputate hendrerit. Vivamus sit amet suscipit sapien. Nulla iaculis eros a elit pharetra egestas. Nunc placerat facilisis cursus. Sed vestibulum metus eget dolor pharetra rutrum."
      addition="Duis nec elit placerat, suscipit nibh quis, finibus neque."
    />
    <!-- ./ Article-->

    <!-- Group -->
    <section id="group">
      <h2>Group</h2>
      <Group />
    </section>
    <!-- ./ Group -->

    <!-- Progress -->
    <section id="progress">
      <h2>Progress bar</h2>
      <Progress id="progress" value="25" max="100" />
      <Progress id="progress" value="" max="" />
      <!-- <progress id="progress-1" value="25" max="100"></progress> -->
      <!-- <progress id="progress-2"></progress> -->
    </section>
    <!-- ./ Progress -->

    <!-- Loading -->
    <section id="loading">
      <h2>Loading</h2>
      <LoadingArticle />
      <LoadingButton title="Please wait..." />
      <!-- <article aria-busy="true"></article> -->
      <!-- <button aria-busy="true">Please wait…</button> -->
    </section>
    <!-- ./ Loading -->
  </main>
  <!-- ./ Main -->
</BaseLayout>
