---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle: String = "Preview"
---
<BaseLayout pageTitle={pageTitle}>
    <main class="container"

        <hgroup>
            <h1>Pico</h1>
            <p>A pure HTML example, without dependencies.</p>
        </hgroup>
        <nav>
            <ul>
                <li>
                    <details class="dropdown">
                    <summary role="button" class="secondary">Theme</summary>
                        <ul>
                            <li><a href="#" data-theme-switcher="auto">Auto</a></li>
                            <li><a href="#" data-theme-switcher="light">Light</a></li>
                            <li><a href="#" data-theme-switcher="dark">Dark</a></li>
                        </ul>
                    </details>
                </li>
            </ul>
        </nav>
    </main>
</BaseLayout>