---
import { Icon } from "astro-icon/components";
import Social from "./Social.astro";
---

<footer class="container">
  <nav aria-label="breadcrumb" style="--pico-nav-breadcrumb-divider: '|';">
    <ul>
      <li>
        <Social platform="github" username="" />
      </li>
      <li>
        <Social platform="x" username="" />
      </li>
      <li>
        <Social platform="instagram" username="" />
      </li>
      <li>
        <Social platform="linkedin" username="" />
      </li>
      <li>
        <Social platform="discord" username="" />
      </li>
      <li>
        <a href={`/rss.xml`} aria-label="Link to the RSS"
          ><Icon name={`rss`} /></a
        >
      </li>
    </ul>
  </nav>
  <p>
    Built with <a href="https://astro.build/">Astro</a> & <a
      href="https://picocss.com/">Pico</a
    > • <a href="https://github.com/san-ghun/astro-pico/">Source code</a>
  </p>
</footer>
