---

---

<div class="hamburger">
  <span class="line"></span>
  <span class="line"></span>
  <span class="line"></span>
</div>

<style>
  .hamburger {
    padding-top: 10px;
    padding-right: 20px;
    cursor: pointer;
  }

  .hamburger .line {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: var(--pico-color);
  }

  .expanded {
    display: unset;
  }

  @media screen and (min-width: 1024px) {
    .hamburger {
      display: none;
    }
  }
</style>
