---
import Navigation from "./Navigation.astro"
---
<header>
    <div class="hero">
        <nav class="container">
            <!-- <Hamburger /> -->
            <Navigation />
            <!-- <ThemeIcon /> -->
        </nav>
    </div>
</header>