---

---

<dialog id="modal-example">
  <article>
    <header>
      <!-- <button id="btn-x" aria-label="Close" rel="prev" data-target="modal-example"></button> -->
      <h3>Confirm your action!</h3>
    </header>
    <p>
      Cras sit amet maximus risus. Pellentesque sodales odio sit amet augue
      finibus pellentesque. Nullam finibus risus non semper euismod.
    </p>
    <footer>
      <button
        id="btn-cancel"
        role="button"
        class="secondary"
        data-target="modal-example"
      >
        Cancel
      </button>
      <button id="btn-confirm" autofocus data-target="modal-example">
        Confirm
      </button>
    </footer>
  </article>
</dialog>
