---
import ModalContent from "./ModalContent.astro";
---

<button id="modal-button" class="contrast" data-target="modal-example">
  Launch demo modal
</button>
<ModalContent />
<script>
  import "../scripts/modal.js";
</script>
