---
import ThemeIcon from "./ThemeIcon.astro";
---

<ul>
  <li><a href="/" class="contrast"><strong>AstroPico</strong></a></li>
</ul>
<ul>
  <li><a href="/preview/" class="contrast">Preview</a></li>
  <li><a href="/posts/" class="contrast">Posts</a></li>
  <li><a href="/about/" class="contrast">About</a></li>
  <li><ThemeIcon /></li>
</ul>
