---
import { Icon } from "astro-icon/components";

// svg from the Tabler Icons (https://tabler.io/icons)

interface Props {
  platform: string;
  username: string;
}

const { platform, username } = Astro.props;
---

<a
  href={`https://www.${platform}.com/${username}`}
  aria-label=`Link to my ${platform}`
  ><Icon name={`social/${platform}`} />
</a>

<style>
  svg {
    width: 1.5em;
    height: 1.5em;
  }
</style>
