---

---

<ul>
  <li>
    <a href="https://astro.build">Astro</a>
    <span><small> | <i>Contributor</i></small></span>
    <p>
      <small>August 2023 - Current</small>
      <br />
      Sit amet consectetur adipisicing elit. Iure illo neque tempora, voluptatem
      est quaerat voluptas praesentium ipsa dolorem dignissimos nulla ratione distinctio
      quae maiores eligendi nostrum? Quibusdam, debitis voluptatum, lorem ipsum dolor.
    </p>
  </li>
  <li>
    <a href="https://github.com/">GitHub</a>
    <span><small> | <i>Software Engineer</i></small></span>
    <p>
      <small>July 2022 - August 2023</small>
      <br />
      Voluptatem est quaerat voluptas praesentium ipsa dolorem dignissimos nulla
      ratione distinctio quae maiores eligendi nostrum? Quibusdam, debitis voluptatum,
      lorem ipsum dolor. Sit amet consectetur adipisicing elit. Iure illo neque tempora.
    </p>
  </li>
</ul>
