---
import Footer from "@components/Footer.astro";
import { ViewTransitions } from "astro:transitions";

interface Props {
  pageTitle: string;
}

const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
    <!-- <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/theme-toggles@4.10.1/css/classic.min.css"
    /> -->
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>{pageTitle}</title>
    <ViewTransitions />
  </head>
  <body>
    <slot />
    <hr />
    <Footer />
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>
